
*.iml
.gradle/
.idea/
build/
app/build/
.navigation/
captures/
.externalNativeBuild/
.cxx/
.shelf/
.DS_Store
keystore.properties
app/release
local.properties


*.jks
*.keystore
*.p12
*.pem


/workspace.xml
/tasks.xml
/gradle.xml
/assetTagging.xml
/runConfigurations.xml


*.log